* {
  /* overflow: visible; */
  background-color: #121619;
  color: white;
  /* margin: 0; */
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

h1{
  width: 50px;
  margin: auto;
  text-rendering: center;
}

p {
  margin-bottom: 500px;
  margin-top: 500px;
}
/* nav a {
  display: inline-block;
  margin: 1em;
} */

/* form div {
  margin: 1em;
  display: inline-block;
} */

#front-page-voronoi{
  margin-bottom: 500px;
  margin-top: 500px;
  font-size: 75;
  text-align: center;
}

#front-page-voronoi-button {
  float: right;
}

#lead-text-button {
  float: right;
}

.footer {
  background-color: #5f7c8c;
  height: 150px;
}

.names {
  background-color: #5f7c8c;
  color: white;
}

.names.github:hover {
  color: #ffcab1;
}

/* #enterBtn {
  background-color: rgb(18, 22, 25, 0.5);
} */
