* {
  overflow: visible
}
.sticky {
  background-color: red;
  width: 100%;
}

#title{
  font-size: 100px;
  color: green;
  text-align: center;
  margin: auto;
}

p{
  text-align: center;
  margin: auto;
  font-size: x-large;
  width: 600px;
}

body {
  font-family: sans-serif;
  margin: auto;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
